* {
	padding: 0;
	margin: 0;
}
@font-face {
  font-family: 'Digi';
  src: url('../fonts/Digi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
	padding: 20px 0;
	width: 95vw;
  font-family: Digi, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.time {
	margin: 1% auto;
  width: 55%;
  font-family: sans-serif;
  font-weight: bolder;
	background: #333;
	border: 10px solid #aaa;
	border-top-width: 20px;
}
.numbers {
  text-align: center;
  position: relative;
}
.display {
	color: lightgreen;
  font-size: 120px;
  font-family: 'Digi';
}
.buttons-wrapper {
	-webkit-box-sizig: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 56.6%;
	margin: 0 auto;
	margin-top: -15px;
	border: 10px solid #aaa;
}
.button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  cursor: pointer;
  margin: 0 -7px 0 0;
  border: 3px solid black;
  width: 240px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  font-family: 'Digi';
	color: black;
}
.button:focus {
  outline: none;
}
.button-start {
  background-color: #5cb85c;
}
.button-start:hover {	
  background-color: #449d44;
}
.button-stop {
  background-color: #d9534f;
}
.button-stop:hover {	
  background-color: #c9302c;
}
.button-reset{
  background-color: #fff;
}
.button-reset:hover {
  background-color: #e6e6e6;
}
.button-split {
  background-color: #337ab7;	
}
.button-split:hover {
  background-color: #286090;
}
.splits {
	margin: 0 auto;
	margin-top: -5px;
	text-align: center;
	width: 55%;
	color: #ddd;
	font-size: 50px;
	background: #333;
	border: 10px solid #aaa;
}
.splits__item {
	margin-top: -2px;
	border: 2px solid black;
}