.motto {
  font-size: 2rem !important;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.center{
  text-align: center !important;
}
.center > a {
  position: relative;
}

.box-left{
  text-align: left;
}

.ulactions{
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.3rem;
  margin-top: 20px;
}

.nokia {
  height: 80vh !important;
}

section {
  padding: 4rem 0 !important;
}

.posrev{
  position: relative !important;
}

.diagram {
  width: 100vh !important;
}