*
{
    margin: 0;
    padding: 0;
}.body
{
    padding-bottom: 10%;

    background: #eee;
}ul
{
    list-style: none;
}
a
{
    text-decoration: none;

    color: white;
}
/*------------------MENU--------------------*/
.desk__menu
{
    line-height: 50px;

    position: absolute;
    right: 5%;
}

.triangle
{
    position: relative;
    top: 15px;
    left: 10px;

    content: '';

    border: 5px solid white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.triangle--right
{
    float: right;

    margin-top: 5px;

    border-top-color: transparent;
    border-left-color: white;
}

.nav
{
    font-family: Verdana;

    position: absolute;
    z-index: 1;
    top: 0;

    box-sizing: border-box;
    width: 100%;
    padding-left: 10%;

    color: #fff;
    background: #ff6464;
}
.nav > li
{
    line-height: 50px;

    position: relative;

    display: inline-block;

    width: 100px;
    height: 50px;
    margin: 0;
    padding-left: 10px;

    cursor: pointer;
    vertical-align: top;
}
.nav li:hover > a
{
    color: #333;
}
.nav > li ul
{
    position: relative;
    top: -5px;
    left: -10px;

    visibility: hidden;

    width: 200px;
}
.nav > li li
{
    position: relative;

    width: 180px;
    padding: 0 10px;

    border-bottom: 1px solid #a33737;
    background: #ff6464;
}
.nav > li li > ul
{
    position: absolute;
    top: 0;
    left: 200px;

    width: 200px;
}

/*------------------CAROUSEL---------------*/

.jcarousel__wrapper
{
    position: relative;

    width: 600px;
    margin: 5% auto;
    padding: 3%;

    border: 10px solid rgba(0,20,0,.5);
    border-radius: 20px;
    box-shadow: 0 -1px 13px 5px rgba(100,120,100,.5);
}
.jcarousel
{
    position: relative;

    overflow: hidden;

    width: 600px;
}
.jcarousel ul
{
    position: relative;

    overflow: hidden;

    width: 20000em;

    list-style: none;
}
.jcarousel li
{
    float: left;

    height: 400px;

    border-radius: 10px;
}
.jcarousel img
{
    width: 600px;
    height: 400px;
}
.jcarousel-prev,
.jcarousel-next
{
    position: absolute;
    top: 50%;

    display: block;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    background-color: #789;
    box-shadow: 0 0 4px rgba(0,0,0,.8) inset;
}
.jcarousel-prev:hover,
.jcarousel-next:hover
{
    background-color: #456;
}
.jcarousel-prev.inactive,
.jcarousel-next.inactive
{
    cursor: default;

    background-color: #789;
}
.jcarousel-prev
{
    left: -50px;
}
.jcarousel-prev:after,
.jcarousel-next:after
{
    position: absolute;
    top: 5px;
    left: -2px;

    display: block;

    content: '';

    border: 10px solid #eee;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.jcarousel-next:after
{
    left: 11px;

    border-right-color: transparent;
    border-left-color: #eee;
}
.jcarousel-next
{
    right: -50px;
}
.jcarousel-pagination
{
    position: absolute;
    bottom: 10px;
    left: 10px;

    background-color: transparent;
}
.jcarousel-pagination a
{
    line-height: 20px;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin-left: 5px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 50%;
    background-color: #789;
}
.jcarousel-pagination a:first-child
{
    margin-left: 0;
}
.jcarousel-pagination a:hover
{
    background-color: rgba(0,0,0,.6);
}
.jcarousel-pagination a.active
{
    border: 2px solid black;
    background-color: rgba(0,0,0,.8);
}

/*------------------SELECT----------------------*/

.select__wrapper
{
    font-size: 1.2em;

    width: 40%;
    margin: 5% auto;
}

/*-------------------CHECKBOX---------------------*/
.checkboxesJS label
{
    cursor: pointer;
}
.checkboxesJS
{
    font-family: sans-serif;

    padding: 10px;

    background-color: deepskyblue;
}
.checkboxesJS .niceCheck
{
    display: inline-block;
    overflow: hidden;

    width: 17px;
    height: 17px;
    margin-left: 5px;

    background: url(../img/checkbox-sprite.png);
}
.checkboxesJS .niceChecked
{
    background-position: 0 -17px;
}
.checkboxesJS .niceCheck input
{
    margin-left: -100px;
}


.checkboxesCSS
{
    font-family: sans-serif;

    padding: 10px;

    background-color: dodgerblue;
}
.checkboxesCSS input[type=checkbox]
{
    position: absolute;

    clip: rect(0, 0, 0, 0);
}
.checkboxesCSS label
{
    cursor: pointer;
}
.checkboxesCSS label:after
{
    position: relative;
    top: 3px;

    display: inline-block;

    width: 17px;
    height: 17px;
    margin-left: 10px;

    content: ' ';

    background: url(../img/checkbox-sprite.png);
}
.checkboxesCSS input[type=checkbox]:checked + label:after
{
    background-position: 0 -17px;
}
