* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
.wrapper {
	min-width: 500px;
	width: 60%;
	margin: 0 auto;
}
.tabs {
	margin-bottom: 30px;
}
.form {
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 2%;
}
.form__item {
	margin-bottom: 1em;
}
.form__item:last-child {
	margin-bottom: 0;
}