.tabs {
	position: relative;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 2%;
}
.tabsH {
	overflow: hidden;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-start;
	background: #ccc;
	border: 1px solid #aaa;
	border-radius: 5px;
	padding: 1%;
	padding-bottom: 0;
}
.tabsH__item {
	-webkit-user-select: none;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden;
	line-height: 2em;
	height: 1em;
	cursor: pointer;
	background: #eee;
	display: inline-flex;
	border: 1px solid #aaa;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0 2% 2%;
	margin-right: 1%;
}
.tabsH__item:hover {
	background: #ddd; 
}
.tabsH__item:active {
	border-color: #888;
}
.tabsH__item--active {
	color: white;
	background: #007fff;
}
.tabsH__item--active:hover {
	background: #006fef;
}
.tabs__item {
	text-indent: 3%;
	padding: 3%;
	display: none;
}
.tabs__item--active {
	display: block;
}