.footer{		
	@include mq($from: desktop){
		@include middlePage($width-desktop);
	}
	@include mq($from: tablet, $until: desktop){
		@include middlePage($width-promo-tablet);
	}
	@include mq($from:mobile, $until: tablet){
		@include middlePage($width-wrapper-mobile);
		text-align:center;
		&__links{
			display: inline-block;
			margin:0 auto;
		}
	}
	margin:auto;
	padding:18px 0 40px;
	overflow:hidden;
	&__wrapper{
		@include mq($from: mobile, $until: tablet) {
			margin-top:40px;
			padding-top:0;
		}
		margin-top:90px;
		border-top: 4px solid #ff4e50;
		padding-top: 16px;
		text-align: center;
	}
	&__header{   
		@include mq($from: mobile, $until: tablet) {
			margin:0 auto 0px;
			float:none;
		}
		@include font(Montserrat,16px,normal);
		float:left;
		color:#ff4e50;
	}
	&__list{		
		@include mq($from: mobile, $until: tablet) {
			float:none;
			margin:12px auto;
			padding: 0 10px;
			text-align: center;
		}
		float:left;
		text-align:left;
		padding-left:100px;
	}
	&__subheader{
		@include mq($from: mobile, $until: tablet) {
			margin-bottom:0;
			text-align: center;
		}
		@include font(Montserrat,14px, normal);
		margin:0 0 15px;
		display:block;
		list-style:none;
		color:#333;
		&--designed{
			@include font(Montserrat,10px,normal);
			margin: 0 0 5px;
			text-transform:uppercase;
			color:#ccc;
		}
	}
	&__link{		
		@include mq($from: mobile, $until: tablet) {
			display: inline-block;
		}
		@include font(Roboto, 14px, 22px);
		color:#666;
		display: block;
		margin-right:15px;
		&:hover{
			text-decoration:underline;
		}
	}
	&__designed{
		@include mq($from: mobile, $until: tablet) {
			display: inline-block;
			float:none;
			text-align: center;
		}
		text-align: right;
		float: right;
	}
}