*{
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica;
	padding: 2% 0;
}
main {
	width: 50%;
	margin: 0 auto;
}
h1 {
	text-align: center;
}
h3 {
	text-align: center;
	margin: 2% 0;
}
label {
	margin: 1% 0;
	display: block;
}
.question__item {
	border: 1px solid black;
	border-radius: 10px;
	padding: 2% 3%;
	margin: 1% 0;
}
.inline-box {
	display: inline-block;
	width: 49%;
}
.select--middle {
	display: block;
	margin: 0 auto;
	width: 50%;
}
#submit {
	margin: 2% auto;
	display: block;
	padding: 1% 3%;
	border-radius: 5px;
}

/*----------------МОДАЛЬНОЕ ОКНО--------------*/

#modal_form {
	text-align: center;
	width: 300px; 
	height: 200px;
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed;
	top: 45%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	display: none;
	opacity: 0;
	z-index: 5;
	padding: 40px 10px;
}
#modal_form #modal_close {
	width: 21px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
#overlay {
	z-index:3;
	position:fixed;
	background-color:rgba(0,0,0,0.6);
	width:100%; 
	height:100%;
	top:0;
	left:0;
	cursor:pointer;
	display:none;
}