<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js16</title>
	<link rel="stylesheet" href="style/style.css">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<div id="main-page">
		<div class="logo logo--main-page">
			<div class="logo__text">
				<span class="blue">I</span>
				<span class="red">m</span>
				<span class="yellow">a</span>
				<span class="blue">g</span>
				<span class="green">e</span>
				<span class="red">s</span>			
				<div class="logo__subtext">Украина</div>
			</div>
		</div>
		<form class="search-form--main">
			<input type="text" class="search__field search__field--main" maxlength="100" title="Поиск">
			<input type="submit" class="search__submit" value="Поиск в Search">
		</form>		
	</div>

	<div id="results">
		<header class="results__header">
			<div class="logo logo--results">
				<span class="blue">I</span>
				<span class="red">m</span>
				<span class="yellow">a</span>
				<span class="blue">g</span>
				<span class="green">e</span>
				<span class="red">s</span>				
			</div>
			<form action="" class="search-form--results">
				<input type="text" class="search__field search__field--results" maxlength="100" title="Поиск">
				<input type="submit" class="search-icon" value="">
				<div class="search__settings"></div>
				</form>
			</header>
		<div class="results__list"></div>

		
		<script type="text/template" id="results__template">
			<ul>
			<% for(var i = 0; i < hits.length; i++) { %>
				<li class="result__item" data-url="<%= hits[i].webformatURL %>">
					<img class="result__img" src="<%= hits[i].previewURL %>" alt="">
				</li>
			<% }; %>
			</ul>
		</script>
		<script type="text/template" id="set">	
			<% for(var key in properties) { %>
				<select id="<%= key %>">
					<% var obj = properties[key]; %>
					<option value="<%= properties[key][0].name %>" selected><%= obj[0].text %></option>
					<% for(var i=1; i < properties[key].length; i++) { %>
						<option value="<%= obj[i].name %>"><%= obj[i].text %></option>
					<% } %>
				</select>
			<% } %>
			Размер: больше чем <input class="property__size" type="number" min="0" placeholder="Ширина" id="min-width"> Х
			<input class="property__size" type="number" min="0" placeholder="Высота" id="min-height"> px
		</script>
	</div>
	
	<div id="overlay"><div id="modal_form"></div></div>
</body>
</html>