* {
	margin: 0px;
	padding: 0px;
	font-family: Tahoma;
}
body {
	background: #0c739f;
}
ul {
	list-style: none;
}
.wrapper {
	background: linear-gradient(to bottom,            
			#128aa7 0%,    #128aa7 2.5%,                    
			#5ef0ff 2.5%,      #5ef0ff 2.6%,                    
			#10cde2 2.6%,               
			#ffffff 15.7%,               
			#40C4D4 15.7%,                
			#108eaf 30%,               
			#0c739f);
	padding-bottom: 54px;
	height: 1060px;
	width: 100%;
}
.page {
	margin: 0 auto;
	width: 1000px;
	background: white;
	box-shadow: 0px 6px 9px 0px #313131;
}

/*----------------HEADER--------------*/

.logo {
	width: 320px;
	padding: 12px 0px 0px 28px;
	float: left;
	position: relative;
}
.logo p {
	color: #128aa7;
	font-size: 12px;
	position: absolute;
	top: 108px;
	left: 99px;
}
.right_side_header {
	padding: 4px 0px 0px 28px;
	margin-right: 32px;
	float: right;
}
.contacts {
	margin-left: 211px;
	font-size: 12px;
}
.contacts p, .contacts a {
	color: #128aa7;
	margin-top: 5px;
}
.countries {
	clear: right;
	margin: 32px 0px 0px 0px;
}
.countries:last-child {
	margin-left: 0%;
}
.countries li{
	display: inline-block;
	margin-left: 8px;
}
.countries li p {
	margin-top: -10%;
	text-align: center;
	cursor: pointer;
	text-align: center;
	font-size: 60%;
	color: #128aa7;
}

/*----------------MENU--------------*/
.menu>img {
	margin-top: -5px;
	margin-bottom: -5px;
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
}
.main_menu {
	height: 28px;   
	border-top: 1px solid #cacbcb;
  border-bottom: 1px solid black;
  background: #333333;
	background: linear-gradient(to top, #303030, #373737);
	box-shadow: 0px 3px 6px 0px #202020;
}
.main_menu a {
	text-decoration: none;
	color: white;
}
.main_menu ul li {
	position: relative;
	display: inline-block;
	height: 28px;
	cursor: pointer;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
  padding-left: 8px;
  padding-right: 41px;
}
.main_menu ul li:hover>a {
	color:#bbb;
	transition: 0.2s;
}
.main_menu .main_page {
	padding: 0px 60px;
}
.main_menu .triang:after {
	margin: 0px 0px 1px 5px;
	display: inline-block;
	content: '';
	height: 0px;
	width: 0px;
	border-top: 5px solid white;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}
.main_menu .drop_menu {
	display: none;
  position: absolute;
  left: 0px;
  top: 28px;
  border-top: 1px solid black;
  background: #333333;
  background: linear-gradient(to top, #303030, #373737);
  box-shadow: 0 5px 10px #202020
  	, inset 0px 3px 6px 0px #202020;
}
.main_menu>ul>li:hover .drop_menu {
  display: block;
}
.main_menu .triang:hover:after {
	border-top-color: transparent;
	border-bottom: 5px solid #bbb;
	margin-bottom: 2px;
}
.main_menu .drop_menu li {
	white-space: pre;
  display: block;
  background: none;
  text-align: left;
  padding-left: 8px;
  padding-right: 58px;
}
.main_menu img {
	padding: 0px 0px 1px 9px;
}

/*----------------CONTENT--------------*/

.content {
	overflow: hidden; 
}
.content>div {
	box-shadow: inset 0 11px 8px -8px #202020;
	background: #edeef0;
	padding: 7px 0px 20010px 0px;
	margin-bottom: -20000px;
	width: 208px;
	font-size: 14px;
	color: #424c43;
	line-height: 24px;
	text-align: center;
}
.content div .head_col {
	font-size: 18px;
}
.left_block {
	float: left;
}
.right_block {
	float: right;
}
.copyright {
		font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: white;
}