* {
	padding: 0;
	margin: 0;
}
body {
	width: 100%;
	height: 798px;
	background: #efefef;
}
main {
	box-shadow: 0 0 3px grey;
	width: 512px;
	height: 750px;
	background: white;
	margin: 4px auto 0;
	padding-top: 50px;
}
p {
	margin: 12px;
	font-size: 110%;
}
li {
	font-size: 110%;
	margin-top: 1%;
}
ul {
	padding-left: 9%;
	padding-top: 1%;
}
.center {
	text-align: center;
}
.info__wrapper {
	margin:0 10% 10%;
	line-height: 150%;
}
.info {
	padding: 2% 0 1%;
}
.info__item p {
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
.hr:after {
	display: block;
	content: '';
	width: 100%;
	height: 1px;
	margin-top: 5%;
	background: black;
}
#personal_photo {
	width: 29%;
	display: block;
	margin: 10px auto -10px;
}