<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>HTML Module 1</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
	<script type="text/templates" id="result">
		<main>
			<h3 class="center"><%= name %></h3>
			<img id="personal_photo" src="<%= imgSrc %>" alt="personal photo">
			<div class="info__wrapper">
				<div class="info hr">
					<p><%= prof %></p>
				</div>
				<div class="info hr">
					<p>Хочу учить фронтенд потому что:
						<ul class="reasons">
							<% for (var i=0; i< reasons.length; i++) { %>
								<li><%= reasons[i] %></li>
							<% }; %>
						</ul>
					</p>
				</div>
				<div class="info hr">
					<div class="info__item">
						<p>Мой контактный телефон</p>
						<p><%= number %></p>
					</div>
					<div class="info__item">
						<p>Мой профиль вконтакте
						<p><a href="<%= socHref %>">vk.com</a></p>
					</div>				
				</div>
				<div class="info info__item">
					<p>Мой фидбек:</p>
					<p><%= feedback %></p>
				</div>
			</div>
		</main>
	</script>
</body>
</html>